$treeview-node-height-dense: 20px !default;
//$treeview-node-shaped-margin: 6px !default;
$treeview-node-level-width: 20px !default;
$text-field-line-height: 8px !default;
$text-field-solo-dense-control-min-height: 20px !default;
$checkbox-dense-margin-top: 1px !default;