#app {
    /*index.html 안에 body안에 id="app"여기있다 */
    height: 100%;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMqL7ty4ADMIIkF7SqbsYmP+gkAbAbGgsk/ddhAAAAAElFTkSuQmCC);
}

.main-view {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    /* 줄바꿈을 하지 않아서 가로 스크롤이 생기게 해준다. */
    overflow: auto;
}

.basic-form {
    cursor: pointer;
    position: absolute;
    /* 이게 없으면 z값이 이상해짐 나중에 생긴게 z값이 가장 크게됨 */
}

div {
    /* 텍스트를 마우스로 드래그하는 것을 방지하는 CSS */
    -ms-user-select: none;
    /*익스플로러 */
    -moz-user-select: none;
    /*파이어폭스 */
    -khtml-user-select: none;
    /**/
    -webkit-user-select: none;
    /*크롬, 사파리 */
    user-select: none;
}

svg.leader-line {
    /* position: fixed; */
    /* 넣어줘야 선이 element밑으로 들어간다*/
    /*분할창때문에 appendChild넣으니 이것들이 필요없게 되었다*/
    /* z-index: 0; */
}

.selectScreen {
    position: absolute;
    left: 500px;
    height: 38px;
    width: 153px;
}

.searchElement {
    position: absolute;
    left: 680px;
    width: 250px;
    height: 40px;
}

.v-navigation-drawer {
    /* z-index: 11 !important; */
}

.v-menu {
    /* z-index: 15 !important; */
}

.v-tooltip {
    /* z-index: 12 !important; */
}

.mini-map {
    background: rgba(254, 213, 70, .1);
    position: fixed;
    top: 85px;
    left: 1296px;
    width: 300px;
    height: 200px;
    /* min-width: 100px;
    max-width: 300px; */
    border: solid 1px blue;
    overflow: hidden;
    z-index: 10;
    opacity: 0.5;
    transition: opacity 800ms ease-in-out 200ms;
}

.mini-map:hover {
    opacity: 1;
    transition-delay: 0ms;
    border: solid 2px blue;
}

.minimap-resize {
    position: fixed;
    left: 1544px;
    top: 90px;
    z-index: 11;
}

.sortHandle {
    cursor: -webkit-grab;
    cursor: move;
}

.grab-bing {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: grab;
}

.grab-bing:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
}

.lable-placeholer-color input::placeholder,
.lable-placeholer-color .v-label {
    color: rgb(185, 184, 184)!important;
}

.ehternetcluster {
    height: 400px;
    overflow-y: scroll;
}

tr.v-data-table__selected {
    background: #e5e8fa !important;
}

.savetreeview {
    height: 590px;
    overflow-y: scroll;
}

.saveSelectView {
    height: 550px;
    width: 400px;
    overflow-y: scroll;
}

.savefileview {
    height: 150px;
    width: 400px;
    overflow-y: scroll;
}

.draggable-list {
    border: 0.5px solid black;
    height: 150px;
    overflow-y: scroll;
}

.savePath-list {
    border: 0.5px solid black;
    height: 300px;
    overflow-y: scroll;
}

.validationList {
    max-height: 400px;
    overflow-y: auto;
}

.validationList .v-list-item-title {
    height: 10px;
}

#wrapper {
    width: 0;
    height: 0;
    position: relative;
    /* Origin of coordinates for lines, and scrolled content (i.e. not `absolute`) */
}

.main-view::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.main-view::-webkit-scrollbar-track {
    background-color: transparent;
}

.main-view::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}

.main-view::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.splitpanes {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMqL7ty4ADMIIkF7SqbsYmP+gkAbAbGgsk/ddhAAAAAElFTkSuQmCC);
    /* 넣어줘야 선이 element밑으로 들어간다*/
    /* position: absolute;
    z-index: 2; */
    /* 넣어줘야 선이 element밑으로 들어간다*/
}

.splitpanes__splitter {
    background-color: rgb(167, 160, 160);
    position: relative;
}

.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: rgba(42, 71, 203, 0.3);
    opacity: 0;
    z-index: 1;
}

.splitpanes__splitter:hover:before {
    opacity: 1;
}

.splitpanes--vertical>.splitpanes__splitter:before {
    left: -10px;
    right: -10px;
    height: 100%;
}

.my-handle {
    cursor: move !important;
}
.refView-tableItem {
    margin: 0 -20px 0 -5px;
}

.text-editDialog {
    white-space: nowrap;
    overflow-X: auto;
    overflow-Y: auto;
    width: 750px;
}

.text-editDialog-Ethernet {
    white-space: nowrap;
    overflow-X: auto;
    overflow-Y: auto;
    width: 900px;
}

.text-Inner-editDialog {
    white-space: nowrap;
    overflow-X: hidden;
    overflow-Y: auto;
}

tr.v-data-table__selected {
    background: #f15454 !important;
}